# Ignore virtual environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Flask instance & compiled files
instance/
*.log

# Environment config files (DO NOT PUSH SECRETS)
config.py
.env
.env.local
